<div class="container-fluid">
    <div id="toolbox">

        <button mat-button color="accent" (click)="openModal()">
            <mat-icon matPrefix>settings</mat-icon>
            Workflow Settings
        </button>

        <div>
            <div class=container appDnd (fileDropped)="onFileDropped($event)">
                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)" />
                <label for="fileDropRef">Browse Task files</label>
            </div>
        </div>

        <mat-list class="files-list" *ngIf="files?.length">
            <span matSubheader>Uploaded Tasks:</span>
            <ng-container *ngFor="let file of files; let i = index">
                <mat-list-item class="single-file" [dndDraggable]="file">
                    <div class="info">
                        <h4 class="name">{{ file }}</h4>
                    </div>

                    <div class="delete" (click)="deleteFile(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                            <path fill="#B1B1B1" fill-rule="nonzero"
                                d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                        </svg>
                    </div>
                </mat-list-item>
            </ng-container>
        </mat-list>


  <mat-list class="files-list" *ngIf="taskList?.length">
            <span matSubheader>Recent Created Tasks:</span>
            <ng-container *ngFor="let task of taskList">
                <mat-list-item class="single-file" [dndDraggable]="task.taskname" [matTooltip]="task.taskname"
                    matTooltipPosition="right">
                    <div class="info">
                        <h4 class="name">{{task.taskname}}</h4>
                    </div>
                </mat-list-item>
            </ng-container>
        </mat-list>-->

    </div>
    <div class="dropzone" dndDropzone (dndDrop)="onItemDrop($event)">
        <app-node1 [nodes]="nodes" #nodeChild></app-node1>
    </div>
</div>

<ng-template [ngIf]="show">
    <div class="sidenav">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Workflow Settings</h4>
                    <img src="../../assets/images/popup_close.svg" class="modal-closeIcon" (click)="close1()">
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" [formGroup]="nodeForm">
                        <ng-container *ngFor="let item of commonworkflowlist; index as i;">
                            <ng-container [ngSwitch]="item.type">

                                <mat-form-field *ngSwitchCase="'text'" floatLabel="always" appearance="fill">
                                    <mat-label>{{item.label}}</mat-label>
                                    <input matInput [type]="item.subtype || item.type" [id]="item.name"
                                        [formControlName]="item.name" [readonly]="item.readOnly"
                                        [required]="item.required">
                                    <mat-icon *ngIf="item.readOnly" class="mat-icon-disable" matSuffix>do_not_disturb
                                    </mat-icon>
                                </mat-form-field>

                                <mat-form-field *ngSwitchCase="'textarea'" floatLabel="always" appearance="fill">
                                    <mat-label>{{item.label}}</mat-label>
                                    <textarea matInput [id]="item.name" [formControlName]="item.name"
                                        [readonly]="item.readOnly" [required]="item.required"></textarea>
                                    <mat-icon *ngIf="item.readOnly" class="mat-icon-disable" matSuffix>do_not_disturb
                                    </mat-icon>
                                </mat-form-field>

                                <mat-checkbox *ngSwitchCase="'boolean'" [formControlName]="item.name"
                                    [required]="item.required" style="margin-bottom: 15px;">
                                    {{item.label}}
                                </mat-checkbox>

                                <mat-form-field *ngSwitchCase="'select'" floatLabel="always" appearance="fill">
                                    <mat-label>{{item.label}}</mat-label>
                                    <mat-select  [formControlName]="item.name">
                                        <mat-option *ngFor="let option of item.options" [value]="option">
                                            {{ option }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon *ngIf="item.readOnly" class="mat-icon-disable" matSuffix>do_not_disturb
                                    </mat-icon>
                                </mat-form-field>

                                <mat-form-field *ngSwitchCase="'array'" floatLabel="always" appearance="fill">
                                    <mat-label>{{item.label}}</mat-label>
                                    <mat-chip-list #chipList multiple [formControlName]="item.name"
                                        [required]="item.required">
                                        <mat-chip *ngFor="let value of item.value" [selected]="true" [value]="value"
                                            (removed)="removeValueFromArray(value, item.value)">
                                            <span class="mat-chip-value">{{value}}</span>
                                            <button matChipRemove *ngIf="!item.readOnly">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip>
                                        <input [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="true"
                                            (matChipInputTokenEnd)="addKeywordFromInput($event, item.value)">
                                        <mat-icon *ngIf="item.readOnly" class="mat-icon-disable" matSuffix>
                                            do_not_disturb</mat-icon>
                                    </mat-chip-list>
                                </mat-form-field>

                                <mat-form-field *ngSwitchCase="'date-range'" floatLabel="always" appearance="fill">
                                    <mat-label>{{ item.label }}</mat-label>
                                    <mat-date-range-input [formGroupName]="item.name" [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Start date">
                                        <input matEndDate formControlName="end" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>

                            </ng-container>
                        </ng-container>
                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-stroked-button color="accent" type="button" (click)="close1()">
                        Close </button>
                    <button mat-button color="accent" type="button" (click)="resetValue()">
                        Reset </button>
                    <button mat-flat-button color="accent" type="button" (click)="save()" [disabled]="!nodeForm.valid">
                        Save </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>