
    <div class="sidenav">

       
                <div class="modal-header">
                    <h4 mat-dialog-title>{{title}}</h4>
                    <img src="../../../assets/images/popup_close.svg" class="modal-closeIcon" (click)="close()">
                </div>
                <div class="modal-body">
                    <mat-dialog-content>
                    <form class="form-horizontal" [formGroup]="nodeForm">
                        <ng-container *ngFor="let item of attributeList; index as i;">
                            <ng-container [ngSwitch]="item.type"
                                *ngIf="item.name != 'sequence_number' && item.name != 'task_node_reference'">

                                <mat-form-field *ngSwitchCase="'text'" floatLabel="always" appearance="fill">
                                    <mat-label>{{item.label}}</mat-label>
                                    <input matInput type="text" [id]="item.name" [formControlName]="item.name"
                                        [readonly]="item.readOnly" [required]="item.required">
                                    <mat-icon *ngIf="item.readOnly" class="mat-icon-disable" matSuffix>do_not_disturb
                                    </mat-icon>
                                </mat-form-field>

                                <mat-form-field *ngSwitchCase="'textarea'" floatLabel="always" appearance="fill">
                                    <mat-label>{{item.label}}</mat-label>
                                    <textarea matInput [id]="item.name" [formControlName]="item.name"
                                        [readonly]="item.readOnly" [required]="item.required"></textarea>
                                    <mat-icon *ngIf="item.readOnly" class="mat-icon-disable" matSuffix>do_not_disturb
                                    </mat-icon>
                                </mat-form-field>

                                <mat-checkbox *ngSwitchCase="'boolean'" [formControlName]="item.name"
                                    [required]="item.required" style="margin-bottom: 15px;">
                                    {{item.label}}
                                </mat-checkbox>

                                <mat-form-field *ngSwitchCase="'array'" floatLabel="always" appearance="fill">
                                    <mat-label>{{item.label}}</mat-label>
                                    <mat-chip-list #chipList multiple [formControlName]="item.name"
                                        [required]="item.required">
                                        <ng-container *ngFor="let value of item.value">
                                            <mat-chip [selected]="true" [value]="value"
                                                (removed)="removeValueFromArray(value, item.value)">
                                                {{value}}
                                                <button matChipRemove *ngIf="!item.readOnly">
                                                    <mat-icon>cancel</mat-icon>
                                                </button>
                                            </mat-chip>
                                        </ng-container>
                                        
                                        <input [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="true"
                                            (matChipInputTokenEnd)="addKeywordFromInput($event, item.value)">
                                        <mat-icon *ngIf="item.readOnly" class="mat-icon-disable" matSuffix>
                                            do_not_disturb</mat-icon>
                                    </mat-chip-list>
                                </mat-form-field>

                            </ng-container>
                        </ng-container>
                    </form>
                </mat-dialog-content>
                </div>
                <mat-dialog-actions class="modal-footer">
                    <button mat-stroked-button color="accent" type="button" (click)="close()">
                        Close </button>
                    <button mat-button color="accent" type="button" (click)="resetValue()">
                        Reset </button>
                    <button mat-flat-button color="accent" type="button" (click)="save()" [disabled]="!nodeForm.valid" [mat-dialog-close]="nodeForm">
                        Save </button>
                    </mat-dialog-actions>
            </div>
       

 
