<div class="container-fluid">
    <div id="toolbox">

        <mat-list>
            <span matSubheader>Components</span>
            <mat-form-field appearance="fill" class="mat-list-search">
                <input matInput type="text" placeholder="Search" [formControl]="searchControl">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <ng-container *ngFor="let component of filteredComponentList$ | async">
                <mat-list-item [dndDraggable]="component" [matTooltip]="component" matTooltipPosition="right">
                    <mat-icon matListIcon>note</mat-icon>
                    {{ component }}
                </mat-list-item>
            </ng-container>
        </mat-list>
    </div>
    <div class="dropzone" dndDropzone (dndDrop)="onItemDrop($event)">
        <app-node [nodes]="nodes" #nodeChild></app-node>
    </div>
</div>