<div class="d-flex flex-column h-100">
    <header class="mat-elevation-z5">
        <nav>
            <div class="nav-smartdata-logo"></div>

            <button mat-button class="nav-item" [ngClass]="selectedIndex === 0 ? 'active' : ''"
                (click)="selectedIndex = 0">Task Workflow</button>
            <button mat-button class="nav-item" [ngClass]="selectedIndex === 1 ? 'active' : ''"
                (click)="selectedIndex = 1">DAG Workflow</button>

            <span class="flex-spacer"></span>
        <!--    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu" >
                <mat-list class="files-list" *ngIf="taskList?.length">
                    <ng-container *ngFor="let task of taskList">
                        <mat-list-item class="single-file" [dndDraggable]="task.taskname" [matTooltip]="task.taskname"
                            matTooltipPosition="right">
                       
                                <h6 class="name"  >{{task.taskname}}</h6>
                           
                        </mat-list-item>
                    </ng-container>
                </mat-list></mat-menu>-->
            
            <button mat-button (click)="previewJson()">
                <!--  <img src="../../../assets/images/Import.svg" alt="" class="configIcon">--> 
                <mat-icon>developer_mode</mat-icon>
                Preview Code
               </button>
   
            <button mat-button (click)="importJson()">
                <img src="../../../assets/images/Import.svg" alt="" class="configIcon">
                Import
            </button>

            <button mat-button (click)="saveJson(true)">
                <img src="../../../assets/images/Save.svg" alt="" class="configIcon">
                Save
            </button>

            <button mat-button (click)="saveJson()">
                <img src="../../../assets/images/saveas.svg" alt="" class="configIcon">
                Save As
            </button>

            <div class="nav-brand-logo"></div>
        </nav>
    </header>
    <div class="content" style="min-height: 0;">
        <app-task [hidden]="selectedIndex == 1"></app-task>
        <app-dag [hidden]="selectedIndex == 0"></app-dag>
    </div>
</div>